<section class="about-me">
    <h2 class="visually-hidden">Заголовок</h2>
    <div class="about-conteiner-text">
      <p class="about-text">I work with people all over the world to create impressive and <span
          class="about-span-fn">functional</span> <span class="about-span-wb">websites</span> that reflect each client's
        unique
        personality.</p>
    </div>
    
    <picture>
        <source srcset="../img/abou-me-2x.jpg 2x, ../img/abou-me-1x.jpg 1x " media="(min-width: 1140px)">
        <source srcset="../img/abou-me-tab-2x.jpg 2x, ../img/abou-me-tab-1x.jpg 1x"
            media="(min-width: 768px )">
        <source srcset="../img/abou-me-mob-2x.jpg 2x, ../img/abou-me-mob-1x.jpg 1x"
            media="(min-width: 375px )">
        <img src="../img/abou-me-1x.jpg" alt="mann mit computer" width="343" height="500" />
    </picture>
    <div class="accordion-container">
        <div class="ac">
            <h2 class="ac-header">
                <button type="button" class="ac-trigger">Lorem ipsum dolor sit amet.</button>
            </h2>
            <div class="ac-panel">
                <p class="ac-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    
        <div class="ac">
            <h2 class="ac-header">
                <button type="button" class="ac-trigger">Lorem ipsum dolor sit amet.</button>
            </h2>
            <div class="ac-panel">
                <p class="ac-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    
        <div class="ac">
            <h2 class="ac-header">
                <button type="button" class="ac-trigger">Lorem ipsum dolor sit amet.</button>
            </h2>
            <div class="ac-panel">
                <p class="ac-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
  </section>





